.PendingApprovalComments-container{
  width: 30%;
  height: auto;
  margin: 25px;
  padding: 25px 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 100px 0px 100px 0px;
  color: black;
  border: 3px solid rgb(154, 209, 170);
}

.PendingApprovalComments-user-id{
  color: gray;
  font-size: 0.9em;
  text-align: left;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

.PendingApprovalComments-body{
  font-size: 0.9em;
  font-family: 'Quicksand', sans-serif;
}

.PendingApprovalComments-created-timestamp, .comment-updated-timestamp{
  color: gray;
  font-size: 0.9em;
  text-align: right;
  font-family: 'Quicksand', sans-serif;
}

/* Approval buttons */

.comments-need-approval{
  font-style: italic;
  font-weight: bold;
  color: salmon;
}

.approveCommentBtn{
  flex: 1 1 auto;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  /* font-size: 1.2em; */
  /* border: 4px solid rgb(179, 218, 179); */
  border-radius: 50px;
  display: inline-block;
  padding: 10px;
  width: 150px;
  /* height: 25px; */
  text-align: center;
  margin: 0 5px;
  background-color: rgb(148, 233, 131);
  font-weight: bold;
  float: right;
}

.rejectCommentBtn{
  flex: 1 1 auto;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  /* font-size: 1.2em; */
  /* border: 4px solid rgb(179, 218, 179); */
  border-radius: 50px;
  display: inline-block;
  padding: 10px;
  width: 150px;
  /* height: 25px; */
  text-align: center;
  margin: 0 5px;
  background-color: rgb(255, 163, 163);
  font-weight: bold;
  float: right;
}

.approveCommentBtn:hover{
  border: 1px solid  rgb(148, 233, 131);
  background-color: white;
}
.rejectCommentBtn:hover{
  border: 1px solid  rgb(255, 163, 163);
  background-color: white;
}

.approveComment-text, .rejectComment-text{
  display: none;
  font-size: 0.8em;
}

.approveCommentBtn:hover .approveComment-text {
  display: inline-block;
  /* width: 200px; */
}

.rejectCommentBtn:hover .rejectComment-text {
  display: inline-block;
  /* width: 200px; */
}