.draftPost{
border: 1px solid blue;
width: 50%;
margin: 50px auto;
}

.draftPost-subject{
  padding: 10px;

  border: 1px solid red;

}

.editDraftPostBtn, .deleteDraftPostBtn{
  padding: 10px;
  margin: 10px;
}