#navbar{
  display: flex;
  flex-flow: column wrap;
  /* border: 1px solid pink; */
}

  #headerBar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: rgb(198, 219, 198);
    /* background-image: linear-gradient(rgb(198, 219, 198), rgb(112, 184, 202)); */
    padding: 10px 140px;
    /* border: 1px solid black; */
    border-bottom: 4px solid rgb(112, 184, 202);
  }

  #subheader-container{
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
  }

    /* Logo Styling */
    #imgBox{
      flex: 0 0 auto;
      width: 70px;
      /* border: 1px solid blue; */
    }

      img{
        flex: 0 0 auto;
        width: 100%;
        height: auto;
        cursor: pointer;
      }

    #app-title{
      flex: 1 1 auto;
      position: relative;
      left: -8px;
      font-family: 'Poiret One', cursive;
      /* border: 1px solid black; */
      padding: 0px 20px;
      margin: 0;
      font-size: 2.5em;
      /* font-weight: bold; */
    }

/* Navigation Button Styling */
#linkBtns{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 0;
  height: 50px;
  width: 500px;
  /* border: 1px solid blue; */
  margin: auto 20px;
}

  #userImg{
    /* border: 3px solid red; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  img{
    margin: auto 0;
  }

  #user-greeting{
    font-family: 'Montserrat', sans-serif;
    margin: auto 0;
    font-size: 1.2em;
  }

  .navbar-btns{
    flex: 1 1 auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    /* border: 1px solid gray; */
    cursor: pointer;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 1.3em;
    color: white; 
    margin: auto 0;
    font-weight: bold;
  }

  #loginBtn, #logoutBtn{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 1em;
    /* border: 1px solid gray; */
    cursor: pointer;
    height: 25px;
    border-radius: 3px;
    color: white;
    padding: 15px 0 0 0;
    font-weight: bold;
  }

  .navbar-btns:hover, #loginBtn:hover, #logoutBtn:hover{
    color: black;
  }

  /* Profile Drop Menu */

.dropbtn {
  background-color: #222222;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 80px;
  font-family: 'Quicksand', sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    color: rgb(198, 219, 198);
    background-color: rgba(198, 219, 198, 0.769);
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    -webkit-transition: opacity 0.6s, visibility 0.6s;
    -moz-transition: opacity 0.6s, visibility 0.6s;
    -ms-transition: opacity 0.6s, visibility 0.6s;
    -o-transition: opacity 0.6s, visibility 0.6s;
    transition: opacity 0.6s, visibility 0.6s;
    opacity: 0;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Quicksand', sans-serif;
}

.dropdown-content a:hover {background-color: rgba(155, 191, 155, 0); color: rgb(76, 85, 76);}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.dropdown:hover .dropbtn {
    background-color: rgba(198, 219, 198, 0);
}

.profile-links{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em !important;
    flex: 1 1 auto;
    width: 160px;
    padding: 5px;
    border-radius: 3px;
    /* border-bottom: 1px dotted rgb(184, 184, 184); */
    font-size: 1.2em;
    cursor: pointer;
    /* color: black !important; */
    /* margin: 5px 0; */
    text-align: left;
  }
  .profile-links:hover{
    background-image: linear-gradient(to left, white, rgb(99, 143, 119));
      color:white !important;
      font-weight: normal;
  }