body{
  width: 100%;
  margin: 0;
  padding: 0;
}

#navbar{
  display: flex;
  flex-flow: column wrap;
  /* border: 1px solid pink; */
}

#component-section{
  height: 100%;
}

#headerBar{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: rgb(198, 219, 198);
  padding: 10px 140px;
  /* border: 1px solid black; */
}

#subheader-container{
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
}

/* Logo Styling */
#imgBox{
  flex: 0 0 auto;
  width: 70px;
  /* border: 1px solid blue; */
}

  img{
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    cursor: pointer;
  }

/* Search Bar Styling */
#searchBar{
  flex: 1 1 auto;
  width: 100%;
  height: 40px;
  padding: 0px 20px;
  margin: 8px 20px 0 20px;
  border: 1px solid gray;
  border-radius: 25px;
  font-size: 0.8em;
  cursor: text;
}

/* Navigation Button Styling */
#linkBtns{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 0;
  height: 29px;
  width: 500px;
  /* border: 1px solid blue; */
  margin: 8px 20px 0 20px;
}

  #user-greeting{
    font-family: 'Glass Antiqua', cursive;
    margin: auto 0;
    font-size: 1.5em;
    padding: 5px 0;
  }

  .navbar-btns{
    font-family: 'Glass Antiqua', cursive;
    flex: 1 1 auto;
    width: 160px;
    padding: 5px 0;
    border-radius: 3px;
    border: 1px solid gray;
    font-size: 1.8em;
    cursor: pointer;
    color: black;
  }

  #loginBtn, #logoutBtn{
    font-family: 'Glass Antiqua', cursive;
    width: 160px;
    height: 36px;
    padding: 5px 0;
    border-radius: 3px;
    border: 1px solid gray;
    font-size: 1.4em;
    cursor: pointer;
    color: black;
  }

  button:hover{
    /* background-color: rgb(218, 252, 218); */
    background-color: rgb(164, 204, 164);
  }

/* Footer Styling */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* height: 100px; */
  background-color: rgb(58, 57, 57);
  color: white;
  text-align: center;
  padding: 20px 0;
  font-family: 'Glass Antiqua', cursive;

}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8em;
}

  a:hover{
    color: palegreen;
  }

  a:visited{
    color: white;
  }
