#account-credit-title{
  margin: 50px 0 20px 0;
  font-family: 'Montserrat', sans-serif;
}

#add-more-credit-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

form{
  display: flex;
  flex-flow: row nowrap;
  width: 35%;
  height: 60px;
  margin: 0 auto;
  text-align: center;
}

  #addCredit-label {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
  }
  
    .user-input{
      font-size: 1em;
      font-family: 'Montserrat', sans-serif;
      margin: auto 20px;
      padding: 10px;
      height: 30px;
    } 
  
  #user-addCredit-btn{
    border: 1px solid rgb(163, 161, 161);
    cursor: pointer;
    color: white;
    background-color: rgb(88, 136, 88);
    font-size: 1.2em;
    margin: auto 0;
    padding: 0;
    height: 52px;
    font-family: 'Montserrat', sans-serif;
  }